body {
  background: #EAEAEA;
  font-family: Tahoma, Arial, sans-serif;
}

h1 {
  text-align: center;
}

#board {
  border: 4px solid #000;
  border-radius: 4px;
  box-shadow: 3px 3px 4px grey;
  background: white;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.col {
  border: 1px solid black;
  float: left;
  padding: 0.2em;
}

.col-title {
  border-bottom: 1px solid #222;
  text-align: center;
  margin-bottom: 2px;
}

.col .cards {
    border: 0px solid #ccc;
    width: 4em;
    height: 12em;
    text-align: center;
}

.card {
  background: yellow;
  box-shadow: 3px 3px 4px grey;
  width: 3em;
  height: 3em;
  display: table;
  margin: 0 auto;
}

.card p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
}

#buttonbar {
  text-align: center;
  margin: 2em;
}

button {
  font-size: 1em;
  box-shadow: 3px 3px 4px grey;
}
